<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
      name="trackingConfigurations"
      type="DevTracker.Configuration.SiteTrackingConfigurationSection, DevTracker"
      allowDefinition="Everywhere"
      allowExeDefinition="MachineToLocalUser"
    />
  </configSections>
  
   <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  
  <connectionStrings>
    <!--<add name="xml" connectionString="D:\Programming\Projects\PostTracker\trackedFiles.xml" />-->
    <add name="mssql"
      connectionString="Data Source=STEFAN\DEV;Initial Catalog=Dev;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>

  </appSettings>

  <trackingConfigurations>
    <!-- Blizzard Battle.Net board -->
    <trackingConfiguration>
      <!-- The name of the website that you want to track -->
      <add key="website" value="WoW" />
      <!-- Its URL -->
      <add key="websiteUrl" value="http://eu.battle.net/wow/en"/>

      <!-- Define the data provider type which is used to download the data from the website, parse its html code and create the post-models, here.
      You can implement your own tracker for specific websites (i.e. Twitter with their API) and change the tracker type for every tracking profile seperately.
      The definition is optional, the standard provider is "Universal" -->
      <add key="dataProviderType" value="universal" />

      <!--A boolean to specify whether the content of a post should be stored
      The definition is optional, the standard value is "true"-->
      <add key="savePostContent" value="false"/>

      <!-- If a profile is tracked for the first time, the tracker will save the whole post-history.
      In the next tracking-rotation, only new posts will be tracked - the program doesn't search for updated old posts if you don't use this option!
      If the value is set to 30, all posts of the last thirty days will be checked for updates. -->
      <add key="checkLastXDaysForUpdates" value="3000" />

      <!--There are two different ways how the tracker paginates through the profile history.
      The first one "templateUrl" uses the template url and replaces the {page}-tag with the current page,
      the second one "buttonLink" uses a link to get the url of the next page-->
      <add key="paginationType" value="templateUrl"/>

      <!-- The URL template of the profile history-->
      <add key="postHistoryTemplate" value="http://eu.battle.net/wow/en/search?f=post&amp;sort=time&amp;a={profile}&amp;page={page}"/>

      <!-- After the tracker completed the whole profile, it will sleep for a specific number of minutes-->
      <add key="requestRateInMinutes" value="10"/>
      <add key="requestsTillSleep" value="20"/>
      <add key="requestTimeoutInMilliseconds" value="1000"/>
      <add key="requestDelayInMilliseconds" value="100" />

      <!-- Specify the jQuery selectors for the different parts of a post here-->
      <contentSelectors>
        <selector target="PostElementPostingDateTime" jqSelector=".meta" dataType="Html" regexPattern=".*(\d{2}/\d{2}/\d{2} \d{2}:\d{2})\s*$" regexReplace="$1" dateTimeFormat="dd/MM/yy HH:mm" />
        <selector target="PostElementContent" jqSelector=".content" dataType="Html" />
        <selector target="PostElementForum" jqSelector=".meta .sublink" dataType="Html" />
        <selector target="PostElementForumLink" jqSelector=".meta .sublink" dataType="Attribute" attributeName="href" regexPattern=".*" regexReplace="http://eu.battle.net$0" />
        <selector target="PostElementPostLink" jqSelector=".subheader-3 a" dataType="Attribute" attributeName="href" regexPattern=".*" regexReplace="http://eu.battle.net$0"  />
        <selector target="PostElementThreadTitle" jqSelector=".subheader-3 a" dataType="Html" />

        <!--The pagination element should select either the link of the next page or the last page number (depending on the pagination type)-->
        <selector target="PaginationElement" jqSelector=".ui-pagination li:nth-last-child(2) a" dataType="Attribute" attributeName="data-pagenum" />
        <!-- The post list returns a list of posts in the current page, typically a list of li-elements -->
        <selector target="PostList" jqSelector=".result" dataType="Html" />
      </contentSelectors>

      <!-- The profiles that you want to track..-->
      <trackedProfiles>
        <profile name="Watcher" templateKey="Watcher" />
      </trackedProfiles>
    </trackingConfiguration>
    
    <!-- Blackdesert Online -->
    <trackingConfiguration>
      <add key="website" value="BlackDesertOnline" />
      <add key="websiteUrl" value="https://blackdesertonline.com"/>

      <add key="postHistoryTemplate" value="http://forum.blackdesertonline.com/index.php?/profile/{profile}/&amp;do=content&amp;type=forums_topic_post&amp;page={page}"/>
      <add key="paginationType" value="templateUrl"/>

      <add key="requestRateInMinutes" value="10"/>
      <add key="requestsTillSleep" value="20"/>
      <add key="requestTimeoutInMilliseconds" value="1000"/>
      <add key="requestDelayInMilliseconds" value="100" />

      <contentSelectors>
        <selector target="PostElementPostingDateTime" jqSelector=".ipsComment_content .ipsPad_half .ipsComment_meta time" dataType="Attribute" attributeName="datetime" dateTimeFormat="yyyy-MM-ddTHH:mm:ssZ" />
        <selector target="PostElementContent" jqSelector=".ipsComment_content .ipsPad_half .ipsContained" dataType="Html" />
        <selector target="PostElementForum" jqSelector=".ipsComment_content .ipsComment_header div .ipsType_normal a" dataType="Html" />
        <selector target="PostElementForumLink" jqSelector=".ipsComment_content .ipsComment_header div .ipsType_normal a" dataType="Attribute" attributeName="href" />
        <selector target="PostElementPostLink" jqSelector=".ipsComment_content .ipsComment_header div .ipsType_sectionHead a" dataType="Attribute" attributeName="href" />
        <selector target="PostElementThreadTitle" jqSelector=".ipsComment_content .ipsComment_header div .ipsType_sectionHead a" dataType="Html" />

        <selector target="PaginationElement" jqSelector=".ipsPagination_last:first a" dataType="Attribute" attributeName="data-page"/>
        <selector target="PostList" jqSelector=".ipsDataItem" dataType="Html" />
      </contentSelectors>

      <trackedProfiles>
        <profile name="CM_Praballo" templateKey="19644-cm_praballo"/>
        <profile name="PM_Belsazar" templateKey="95-pm_belsazar"/>
        <profile name="CM_Jouska" templateKey="5852-cm_jouska"/>
      </trackedProfiles>
    </trackingConfiguration>

    <!-- reddit -->
    <trackingConfiguration>
      <add key="website" value="Reddit" />
      <add key="websiteUrl" value="https://reddit.com"/>

      <add key="postHistoryTemplate" value="https://www.reddit.com/user/{profile}"/>
      <add key="paginationType" value="buttonLink"/>

      <add key="requestRateInMinutes" value="10"/>
      <add key="requestsTillSleep" value="20"/>
      <add key="requestTimeoutInMilliseconds" value="1000"/>
      <add key="requestDelayInMilliseconds" value="100" />

      <contentSelectors>
        <selector target="PostElementPostingDateTime" jqSelector=".tagline .live-timestamp" dataType="Attribute" attributeName="datetime" dateTimeFormat="yyyy-MM-ddTHH:mm:sszzzz" />
        <selector target="PostElementContent" jqSelector=".usertext .usertext-body .md" dataType="Html" />
        <selector target="PostElementForum" jqSelector=".parent .subreddit" dataType="Html" />
        <selector target="PostElementForumLink" jqSelector=".parent .subreddit" dataType="Attribute" attributeName="href" />
        <selector target="PostElementPostLink" jqSelector=".flat-list.buttons li:nth-child(3) a" dataType="Attribute" attributeName="href" />
        <selector target="PostElementThreadTitle" jqSelector=".title" dataType="Html" />

        <selector target="PaginationElement" jqSelector=".nav-buttons .nextprev a:last-child" dataType="Attribute" attributeName="href" />
        <selector target="PostList" jqSelector=".comment" dataType="Html" />
      </contentSelectors>

      <trackedProfiles>      
        <profile name="chris_wilson" templateKey="chris_wilson" />
      </trackedProfiles>
    </trackingConfiguration>
    
  </trackingConfigurations>
</configuration>
